.sidebar {
  width: 256px;
  background: var(--omsiu-black-5);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 26px 8px;
}

.sidebar__header {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 22px;
  display: flex;
  align-items: center;
}

.sidebar__nav {
  height: 100%;
}

.sidebar__section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar__item {
  margin: 0;
  position: relative;
}

.sidebar__link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 8px;
  background: transparent;
  transition: color 0.3s ease-in-out, background-color .3s ease-in-out;
}

.sidebar__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
}

.sidebar__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--omsiu-black-80);
}

.sidebar__link .sidebar__icon {
  color: var(--omsiu-black-80);
}

.sidebar__link .sidebar__text {
  color: var(--omsiu-black-80);
}

.sidebar__link:hover {
  background: rgba(255, 255, 255, 0.5);
}

.sidebar__link:active {
  background: rgba(255, 255, 255, 0.5);

}

.sidebar__link:focus-visible {
  background: rgba(255, 255, 255, 0.5);
  outline: none;
}

.sidebar__link--active {
  background: var(--white);
  border-radius: 8px;
}

.sidebar__bottom {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 16px;
}


.sidebar__icon--user {
  color: var(--omsiu-black-80);
  font-weight: 700;
}

.sidebar__icon--user path {
  fill: currentColor;
}


.sidebar__user-name {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--omsiu-black-80);
}

.sidebar__user-role {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: var(--omsiu-black-54);
}